.div-form {
width: 300px;
height: 400px;
background-color:#d8d8d8; /*cor de fundo*/
display: flex;
justify-content: center;
align-items: center;
padding: 40px;
border-radius: 15px;
position: absolute;




}

.div-form:hover {
box-shadow: 10px 10px 20px black;

}

body {
display: flex;
justify-content: center;
align-items: center;
background-color: #97e694;
margin-top: 80px;



}

.formulario {
width: 100vw;
height: 100vh;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}

.div-form h1{
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;


}