
* {
    margin: 0;
    padding: 0;
}


header {
    background-color: #f1ecdf; /*Cor de fundo*/
    padding: 25px; /*Respnsavel pelo prenchimento interno/tamanho*/
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    
}
header ul li a:hover {
color: blue;
transition: 0.8s;


}
/*Estizando a imagem*/
header div img {
    width: 100px;
    height: 100px;
}

/*Estilizando o Titulo*/
header div h1{
 font-size: 40px;
   display: flex;
   justify-content: center;
   font-weight: 600;
   font-family: Arial, Helvetica, sans-serif;
  
}

.list-menu ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.list-menu ul li {
    list-style: none;
}
.list-menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}


h2 {
  text-align: center;  
  font-size: 40px;
}



.Primeiro {
display: flex;
justify-content: center;
flex-direction: column; /*Deixou em colunas(aplicar só na sessão) */
/* padding-bottom: 30px;
padding-top: 30px; */
}


.Primeiro h2 {

font-size: 45px;
background-color:#f1ecdf;

}






.div-pai-caixas {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
   
    
}

.div-pai-caixas div {
border-radius: 15px;
}



.div-pai-caixas div:hover {
box-shadow: 20px 20px 30px black;
transition: 0.8s;

}



.div-04 img {
   width: 400px; 
   height: 300px;
}

.div-04 {
background-color: rgba(128, 128, 128, 0.356);
width: 400px;
height: 500px;
text-align: center;
line-height: 40px;
padding: 30px;

}

.div-04 h3 {
font-size: 30px;


}

.Cidade {
font-size: 20px;

}
.venda {
    font-size: 25px;
}

.preço {
font-size: 30px;

}

.div-05 {
    background-color: rgba(128, 128, 128, 0.356);
    width: 400px;
    height: 500px;
    text-align: center;
    line-height: 40px;
    padding: 30px;
    align-items: center;

}

.div-05 img {
    width: 400px; 
    height: 300px;


}

.div-05 h4 {
    font-size: 30px;


}

.vendaI {
    font-size: 25px;

}

.preçoI {
    font-size: 30px;

}

.CidadeI {
    font-size: 20px;
    padding: -5px 10px;


}
.div-06 {
    background-color: rgba(128, 128, 128, 0.356);
    width: 400px;
    height: 500px;
    text-align: center;
    line-height: 40px;
    padding: 30px;



}

.div-06 img {
    width: 400px; 
    height: 300px;


}

.div-06 h5 {
    font-size: 30px;

}

.Segundo {
display: flex;
justify-content: center;
flex-direction: column;


}

.Predios {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;

}

.Predios div {
    border-radius: 15px;
    }

 .Predios div:hover {
        box-shadow: 20px 20px 30px black;
        transition: 0.8s;
        
        }

    .Predio-01 img {
            width: 400px; 
            height: 300px;
     }

     .Predio-01 {
        background-color: rgba(128, 128, 128, 0.356);
        width: 400px;
        height: 500px;
        text-align: center;
        line-height: 40px;
        padding: 30px;
        
        }

        .Predio-01 h6 {
            font-size: 30px;
            
            
            }

 .Predio-02 {
     background-color: rgba(128, 128, 128, 0.356);
    width: 400px;
    height: 500px;
 text-align: center;
     line-height: 40px;
     padding: 30px;




            } 
  
 .Predio-02 img {
    width: 400px; 
    height: 300px;


   }
                
    .Predio-02 h7 {
font-size: 30px;
font-weight: bold;
                    
     } 


 .Predio-03 {

  background-color: rgba(128, 128, 128, 0.356);
  width: 400px;
   height: 500px;
   text-align: center;
  line-height: 40px;
  padding: 30px;
 } 
 .Predio-03 img {
    width: 400px; 
    height: 300px;

 }
    
 .Predio-03 h8 {
    font-size: 30px;
    font-weight: bold;
                        
 } 

footer {
    padding: 10px;
    background-color: #484848;
    text-align: center;
    line-height: 30px;
    color: white;
    
    
    }
    
    footer img {
    width: 50px;
    height: 50px;
    
    }
    
    footer p {
    font-size: 20px;
    
    }
    
    .kevin {
    font-size:20px;
    font-weight: 600;
    
    }
    
    .aroldo {
    font-size: 21px;
    font-weight: 600;
    
    }


    footer:hover {
        color: blue;
        transition: 0.8s;
        
        
        
        }
        
        @media (max-width: 768px) {
            header {
                
                      flex-direction: column;
                      align-items: center;
                      text-align: center;
                    
            

        }


        .Primeiro {

flex-wrap: wrap;
min-width: 300px;

        }

        .div-pai-caixas {
    
            flex-wrap: wrap;
            min-width: 300px;
            flex-direction: column;
        
    
    
    }



